<div class="row">
  <div class="col-md-12 offset-md-0">
    <div class="card mt-4">
      <div class="card-header ">
        <h1>Profile</h1>
        <div class="card card-body">
          <form action="">
            {{#each user._doc}}
            {{#ifExist @key "['email', 'name', 'area']"}}<label for="{{@key}}">{{@key}}</label><input
              id="{{@key}}" class="form-control" type="text" value="{{this}}"><br>{{/ifExist}}
            {{/each}}
          </form>
          <pre class="mt-5">{{user}}</pre>
        </div>
      </div>
    </div>
  </div>

  {{!-- <form action="">
    {{#each user._doc}}<br>
    <label for="{{@key}}">{{@key}}</label>
    <input id="{{@key}}" class="form-control" type="text" value="{{this}}"
      {{#ifExist @key "['isActive','_id', 'password', '__v', 'registerDate']"}} disabled{{/ifExist}}> {{/each}} </form> --}}